body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: aliceblue;
}



.header {
    margin: auto;
    background-color:green;
    text-align: flex-end;
    width: 100%;
    height: 75px;
    
    }
    .logo {
        width: 120px;
        height: 120px;
         margin: 0;
    }
    .title {
        
       
    
    margin: auto;
    font-family: 'Alegreya SC';
    font-size: 50px;
   margin-left: 500px;
   font-weight: bold;
   color: aliceblue;

    
    }
    
    .buttonPanel {
        margin:auto;
        background-color:rgb(215, 244, 247);
        
        padding: 0%;
        width: 100%;
        height: 60px;
        
        vertical-align: middle;
    }
    button {
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Alegreya SC';
        height: 50px;
        width: 120px;
        color: green;
        margin: 5px  30px;
        align-content: center;
        justify-content: center;
        border-color: rgba(22, 223, 56, 0.582);
        background-color: transparent;
        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
        border-radius: 5px;


    }
    #homebutton{
        margin-left: 170px;
    }
    button:hover{
        box-shadow: 0 2px 3px rgba(22, 223, 56, 0.582); ;
        color: red;
        
    }
    button:focus{
        color: red;
        border: 0px;
    }
    .image{
        height: 350px;
        width: 70%;
        
        margin: auto;
        margin-top: 10px;
        text-align: center;

    }
    .slider {
        text-align: center;
    }
    .intro {
    font-family: 'Alegreya SC';
    font-size: 18px;
    padding: 15px;

    }