body {

padding: 0;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background: linear-gradient( 132deg,rgb(110, 152, 230) 60px,rgba(160, 208, 240, 0.952) ,rgb(165, 192, 250));
    position: relative;
    animation:  bganimation 10s ease-in-out infinite;
    background-size: 400% 400%;
    width: 100%;
    height: 1200px;
}
@keyframes bganimation{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
   100% {
        background-position: 0% 50%;
    }
}
#parent{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 250px;
    
}
#main{

    padding: 0;
    margin: 0%;

}

    .title {
   display: inline-block;
    margin: auto;
    font-family: 'san-serif';
    font-size: 50px;
   margin-left: 10px;
   font-weight: bold;
   color: azure;
   margin-top: 20px;
   text-align: start;

    
    }
    #pay{
        font-size: 40px;
        font-weight: bolder;
    }
    .imgDiv{
        
        margin-left: 250px;
        margin-top: 80px;
    }
    #pic{
        box-shadow: 2px 3px 100px rgba(97, 97, 211, 0.863);
    }
    .description{
        text-align: left;
        padding: 0%;
        margin:0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        color: azure;
        margin-left: 30px;
        height: 100px;

        width: 40%;
    }
    #form{
        margin-left: 20px;
        margin-right: 5px;
        width: 40%;
        
        padding: 0%;

    }
    .navOp{
font-weight: bold;
    }